  <header>

    <h1><a href="{{url}}" target="_blank">{{title}}</a></h1>

    <span class="author">by {{postedBy}}</span>

  </header>

  <footer>

    <span class="comments">{{commentCount}} <em>comments</em></span>

    <span class="points">{{points}} <em>points</em></span>

    <span class="time">{{postedAgo}}</span>

  </footer>
